<%= javascript_pack_tag 'script' %>
<%= render 'shared/header' %>
<div class="form">
  
  <div class="form__header">
    <%= link_to 'Sign Up', sign_up_path, class: "form__header--signup", id: "sign-up", remote: true %>
    <%= link_to 'Sign In', login_path, class: "form__header--signin", id: "sign-in", remote: true %>
  </div>

  <div class="form__container">
    <%= render 'log_in_form' %>
  </div>

</div>