<div class="comments-popup__container">
  <div class="comment-content">
    <% @event.comments.each do |c| %>
    <div class="comment-container">
        <div class="comment-commenter">
          <h2 class="commenter">
            <%= c.creator.name %>
          </h2>
          <span>
            <%= time_ago_in_words(c.created_at) %>
          </span>
        </div>
        <div class="comment-body">
            <p>
            <%= c.body %>
            </p>
        </div>
    </div>
    <% end %>
  </div>
  <% if logged_in? %>
    <div class="comments-form">
      <%= simple_form_for([@event, @event.comments.build], remote: true) do |f| %>
        <div class="textarea">
          <%= f.input :body, label: false, input_html: {class: "input"}, wrapper: false, label_html: { class: "label"}, placeholder: "Add a comment" %>
          <div class="comment-arrow"></div>
        </div>
    
        <%= f.button :submit, 'Leave a reply', class: "button" %>
      <% end %>
    </div>
  <% end %>
</div>