<% @events.each do |e| %>
  <div class="coming_and_passed_events">
    <div class="header-container">
      <h2>
        <%= e.title %>
      </h2>
    </div>
    <div class="body">
      <p>
        <%= e.location %>
      </p>
      <span class="badge badge-success"><%= e.creator.name %> is hosting this event!!</span>
      <p class="description"><%= e.description %></p>
    </div>
    <div class="footer">
      <span class="badge badge-info"><%= e.date.strftime('%Y %B %d %I:%M%p') %></span>
      <span class="badge badge-primary"><%= link_to "Details", event_path(e), remote: true %></span>
    </div>
  </div>
<% end %>

