<div class="form__title">
  <h3>Create your account</h3>
  <span>Bring the best events with your family and friends.</span>
</div>

<%= simple_form_for @user, url: '/sign_up', html: { multipart: true, class: "form__body" }  do |f| %>
  <div class="form__input">
    <%= f.input :name, placeholder: "First Name", label: false %>
  </div>

  <div class="form__input">
    <%= f.input :email, placeholder: "Emails Address", label: false %>
  </div>

  <div class="form__input">
    <%= f.input :password, placeholder: "Password", label: false %>
    <%= f.input :password_confirmation, placeholder: "Confirm Password", label: false %>
  </div>

  <span class="form__terms">By clicking sign up, you agree our <%= link_to 'Terms of use', "" %> and <%= link_to 'Privacy Policy', "" %></span>

  <div class="form__input">
    <%= f.submit 'Sign In', class: "form__sign-in-input" %>
  </div>
<% end %>