<%= javascript_pack_tag 'events' %>
<div class="container invitations">
  <br/>
  <%= render 'shared/header' %>
  <%= render 'shared/messages' %>
  <% if @invited_events.any? %>
    <div class="invitations__event">
      <%= render @invited_events %>
    </div>
  <% else %>
    <div class="alert alert-info alert-dismissible show" role="alert">
      <button type="button" id="close" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>You don't have invitations!!</p>
    </div>
    <div class="start-event-container">
      <h2>Start new Events and invite your friends!!</h2>
      <%= link_to 'Create a New Event', new_event_path, class: "create-event" %>
    </div>
  <% end %>
</div>


