<%= render "shared/messages" %>
<header class="header">
  <div class="header__logo">
    <span>JoinMe</span>
  </div>

  <div class="header__sign-up-contanier">
    <h1 class="slogan">
      <span class="slogan--main">Awesome Events</span>
      <span class="slogan--sec">only with one click!</span>
    </h1>

    <% if logged_in? %>
      <%= link_to 'Host a new Event', new_event_path, class: "btn btn--white btn--animated", id: "sign-up" %>
    <% else %>
      <%= link_to 'Sign Up', sign_up_path, class: "btn btn--white btn--animated", id: "sign-up" %>
    <% end %>
  </div>
</header>

<section class="section-events">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Excitions events for successful people</h2>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3 class="heading-tertiary u-margin-bottom-small">Enjoy of your events</h3>
      <p class="paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore alias beatae 
        earum ea maxime labore aperiam minus aspernatur. Quisquam mollitia id quasi ut?
      </p>

      <h3 class="heading-tertiary u-margin-bottom-small">You will love attending to any event!!</h3>
      <p class="paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore alias beatae 
        earum ea maxime labore aperiam minus aspernatur. Quisquam mollitia id quasi ut?
        earum ea maxime et consectetur adipisicing elit mollitia id quasi ut?.
      </p>
    </div>
    <div class="col-md-6">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h3 class="d-block w-100"><%= @event.title %></h3>
          </div>
          <% @events.each do |event| %>
            <div class="carousel-item">
              <h3 class="d-block w-100"><%= event.title %></h3>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>