<div class="events">
  <div class="date-host">
    <div class="date-host__details">
      <strong><%= event.date.strftime('%Y %b %d %I:%M%p') %></strong>
      <% if @from_events_controller %>
        <small><%= event.creator.name %></small>
      <% end %>
      <div class="date-start">
          <% if event.date > DateTime.now %>
            <small>
              This event will start in:
            </small>
            <h4>
              <span class="badge badge-info"> <%= TimeDifference.between(event.date, DateTime.now).in_days.round %> days</span>
            </h4>
          <% else %>
            <small>
              <span class="badge badge-danger">Passed Event!</span>
            </small>
          <% end %>
      </div>
    </div>
    <% if event.image? %>
      <img src="<%= event.image %>" alt="Event image">
    <%end%>
  </div>
  
  <div class="details-event">
    <div class="title">
      <p><%= event.title %></p>
    </div>
    <div class="details">
      <div class="event-details">
        <p>
          <i class="far fa-thumbs-up"></i>
          <i class="fas fa-map-marker-alt"></i>
          <%= event.location %>
        </p>
        <p class="description"><%= event.description %></p>
        <span class="badge badge-danger"><%= pluralize(event.invitations.where(accepted: true).count, "person") %> are attending to this event!</span>
        <% if logged_in? && current_user.id != event.creator_id %>
          <% if current_user.attended_events.any?%>
            <% if current_user.attended_events.ids.include? event.id && !@accepted_button%>
              <span class="badge badge-success">Attending</span>
            <% end %>
          <% end %>
        <% end %>
        <% if logged_in? && current_user.id == event.creator_id %>
        <span class="badge badge-success"><%= event.creator.name %>, you are hosting this event!!</span>
        <% else %>
          <span class="badge badge-primary"><%= event.creator.name %> is the host</span>
        <% end %>
      </div>
      <div class="button-details">
        <% unless @accepted_button %>
          <%= link_to "See Details", event_path(event), remote: true %>
        <% end %>
        <% if @accepted_button %>
          <%= link_to "Accept event invitation", attend_event_path(event), class: 'event_button', method: :get %>
        <% end%>
      </div>
    </div>
  </div>
</div>